
%body
  / %header
  /   チャットグループが作成されました

  = render 'shared/side_bar'

  .main
    .main__header
      = link_to 'edit', edit_group_path(@group)
      .main__header__room-name
        = @group.name
      .main__header__members-name
        member:
        - @members.each do |member|
          = member.name
    .main__messages
      = render @messages

    .main__comments
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden', style: "display:none"
          = f.submit 'Send', class: 'form__submit'


  %footer
