%body
  %header
    チャットグループが作成されました

  .side

    .side__nickname
      koki
      %i.fa.fa-cog
      %i.fa.fa-edit
    .side__room
      .side__room__name
        room-name
      .side__room__message
        tezt

  .main

    .main__header
      = link_to 'edit', ''

      .main__header__room-name
        room-name

      .main__header__members-name
        mebers: koki

    .main__messages
      %span.main__messages__nickname
        koki
      %span.main__messages__date
        2/3
      .main__messages__message

    .main__comments

      %form{:action => '/messages', :class => "comments"}
        %input{:name => "comments", :style => "width:90%", :class => "text", :placeholder =>"type a message"}
          %label#file_photo
            %i.fa.fa-image
            %input{:type => "file", :id => "file_photo", :style => "display:none;"}
        %input{:type => "submit", :value => "send", :class => "button"}

      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden', style: "display:none"
          = f.submit 'Send', class: 'form__submit'



